article.book-box {
    margin-block: 2rem;
    margin-inline: 1.5rem;
    max-width: 80rem;
    height: fit-content;
    background-color: var(--clr-book-preview-background);
    color: var(--clr-book-preview-text);
    box-shadow: 0.2rem 0.25rem 0.7rem #263f85;
}


div.details-box {
    align-items: center;
    padding: 2rem;
}


div.details-box>img {
    max-width: 40%;
}

div.details-box>h2.title {
    font-size: 4rem;
    margin-block: 1rem;
}


h2.title>span.authors {
    font-size: 2rem;
}

div.details-box>h3.subtitle {
    font-size: 2.4rem;
}

div.details-box>pre.desc {
    white-space: pre-wrap; 
    font-size: 1.4rem;
    margin-block-end: 4rem;
    color: #6b6c70;
}


div.details-box>h4.price {
    font-size: 1.7rem;
    margin-block-end: 2rem;
}


div.more-details {
    font-size: 1.4rem;
    line-height: 1.7;
}

img.thumb {
    margin-block-end: 3rem;
}

span.reading-text {
    background-color: rgba(36, 36, 36, 0.69);
    color: white;
    width: fit-content;
    font-size: 1.5rem;
    padding: 0.3rem 0.7rem;
    margin-inline-end: 2.2rem;
}

span.for-sale-details {
    font-size: 1.5rem;
    margin-block-end: 0.5rem;
}

div.details-text {
    margin-block-end: 1.5rem;
}